<style>
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        flex-direction: column; /* Agrega esta línea */
        justify-content: center;
        align-items: center;
        background-color: black;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p {
        text-align: center; /* Agrega esta línea */
        color: white;
    }
</style>

<img src="/images/E500.jpg" alt="ERROR 500">
<p>{{{error}}}</p>