<style>

    p {
        font-size: 18px;
        color: #333;
        margin-bottom: 20px;
    }

    a {
        display: block;
    }

    img {
        max-width: 100%;
        height: auto;
        width: 500px;
        height: 300px;
    }

</style>
<h1>Eres un {{{name}}}</h1>
<p>{{{message}}}</p>
<a href="{{{pageUrl}}}">
    <img src="{{{imageUrl}}}" alt="Imagen Aleatoria">
</a>
